<section class="basket-page">
  <div class="d-flex justify-content-between py-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb text-capitalize">
        <li class="breadcrumb-item">
          <a href="#" routerLink="/e-shop">e-shop</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">panier</li>
      </ol>
    </nav>

    <app-basket-img></app-basket-img>
  </div>

  <p>Récapitulatif du panier</p>

  <section class="d-flex flex-column gap-4">
    <app-basket-item
      *ngFor="let item of basketItems"
      [item]="item"
      (onCountChange)="onItemCountChange(item.article.id, $event)"
      (onItemDelete)="onItemDelete(item.article.id)"
    ></app-basket-item>
  </section>
</section>
