<app-container>
  <footer>
    <div class="d-flex justify-content-center align-items-center gap-2 mb-4">
      <img
        class="icon-small"
        src="../../../assets/logos/icon_WB.png"
        alt="Warner Bros"
      />
      <small>
        Ce projet respecte l'univers cinématographique des films Batman récents.
        Version Nolan & Snyder & Reeves
      </small>
    </div>
    <div
      class="networks d-flex justify-content-center align-items-center gap-4"
    >
      <div class="d-flex justify-content-center align-items-center gap-2">
        <a href="#" class="icon-medium icon-link">
          <img
            src="../../../assets/logos/logo_sayna_white.png"
            alt="logo Sayna"
          />
        </a>
        <img class="icon-small" src="../../../assets/logos/icon_x.png" alt="" />
        <a href="#" class="icon-medium icon-link">
          <img src="../../../assets/logos/icon_DC.png" alt="" />
        </a>
      </div>

      <a href="#" class="icon-small icon-link">
        <img src="../../../assets/logos/icon_facebook.png" alt="Facebook" />
      </a>
      <a href="#" class="icon-small icon-link">
        <img src="../../../assets/logos/icon_ig.png" alt="Instagram" />
      </a>
      <a href="#" class="icon-small icon-link">
        <img src="../../../assets/logos/icon_tw.png" alt="Twitter" />
      </a>
    </div>
  </footer>
</app-container>
