<section class="product-detail">
  <div class="d-flex justify-content-between py-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb text-capitalize">
        <li class="breadcrumb-item">
          <a href="#" routerLink="/e-shop">e-shop</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">panier</li>
      </ol>
    </nav>

    <img class="basket" src="../../assets/icones/icone_1.png" alt="Basket" />
  </div>

  <div class="row border-secondary border-bottom pb-4 mb-4">
    <div class="col-5">
      <app-product-image></app-product-image>
    </div>

    <div class="col-7">
      <div class="d-flex align-items-center gap-3">
        <app-product-rating [rating]="3"></app-product-rating>
        <small class="comment">6 commentaires</small>
      </div>

      <h1 class="text-uppercase border-secondary border-bottom pt-3 pb-5 mb-4">
        Nom du produit
      </h1>

      <div class="d-flex justify-content-between mb-4">
        <h2>48€</h2>
        <div class="d-flex align-items-center gap-3">
          <span class="text-decoration-underline">En stock</span>
          <select class="form-select">
            <option selected>Taille M</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>

      <div class="d-flex gap-4 border-secondary border-bottom pt-3 pb-5 mb-4">
        <app-button variant="red-blue"> ajouter au panier </app-button>
        <img
          src="../../../assets/icones/icone_7.svg"
          alt="Bookmark"
          class="bookmark"
        />
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
        dignissim elit id turpis scelerisque mollis. Nulla vehicula velit augue,
        ut maximus est porttitor quis. Morbi finibus, nulla non consectetur
        convallis, eros mi sollicitudin metus, id sollicitudin nunc ligula eu
        dui. Curabitur eleifend sagittis mi, a sodales ante sagittis sed. Proin
        sed mauris tristique, dictum ipsum in, interdum justo. Curabitur
        vestibulum nec lectus nec maximus. Suspendisse euismod scelerisque velit
        at sollicitudin. Donec quis accumsan neque. Nullam maximus elit sem, ac
        varius nibh ultrices vitae. Curabitur in ipsum nec augue commodo luctus
        mollis vitae tortor. Proin a lacinia tellus, eu viverra odio. Sed quis
        mi eget massa pharetra facilisis in laoreet felis. Fusce ac venenatis
        lacus. Ut tempus elit feugiat tellus ultrices, quis aliquet ipsum
        placerat.
      </p>
    </div>
  </div>

  <div class="text-secondary border-secondary border-bottom pb-4 mb-4">
    <p class="lead">Caractéristiques</p>
    <p class="detail-content">Matériaux :</p>
    <p class="detail-content">Couleur :</p>
    <p class="detail-content">Poids :</p>
    <p class="detail-content">Capacité :--</p>
  </div>

  <div class="text-secondary border-secondary border-bottom pb-4 mb-4">
    <p class="lead">Livraison</p>
    <p class="detail-content">Livraison à domicile.</p>
    <p class="detail-content">Retrait en point relais.</p>
    <p class="detail-content">Délai de livraison 2-4 jours</p>
  </div>

  <app-product-comments [reviews]="reviews"></app-product-comments>

  <app-recommendations></app-recommendations>
</section>
