<div
  class="card rounded-0 mb-4"
  [routerLink]="'/e-shop/product/' + article.id"
  routerLinkActive="active"
>
  <img
    [src]="'http://localhost:5678/' + article.src"
    class="card-img-top"
    [alt]="article.name"
  />
  <div class="card-body p-4 text-center">
    <h5 class="card-title text-uppercase">{{ article.name }}</h5>
    <p class="card-text">
      <small class="prev-price text-decoration-line-through">
        {{ article.price }}€
      </small>
      <span class="ms-3 h5">{{ article.price }}€</span>
    </p>
  </div>
</div>
