<h2>Produits similaires</h2>

<div class="d-flex align-items-center justify-content-between gap-3">
  <img
    class="pagination-btn"
    src="../../../../../assets/logos/icon_flèche_1.png"
    alt=""
  />
  <div class="d-flex w-100 gap-3 justify-content-between">
    <app-article-card
      *ngFor="let article of recommendations"
      [article]="article"
    ></app-article-card>
  </div>
  <img
    class="pagination-btn"
    src="../../../../../assets/logos/icon_flèche_2.png"
    alt=""
  />
</div>
