<nav
  class="navbar navbar-expand-lg justify-content-between px-3 py-4 py-lg-5 gap-4 navbar-dark"
>
  <a class="navbar-brand logo px-4" routerLink="/">
    <img src="../../../assets/logos/logohome.png" alt="Logo" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarLinks"
    aria-controls="navbarLinks"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarLinks">
    <ul class="navbar-nav text-uppercase fs-4 ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/game"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Game
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/e-shop"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          E-shop
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/compte"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Mon Compte
        </a>
      </li>
    </ul>
  </div>
</nav>
