<aside class="aside">
  <div class="container-wrapper">
    <div class="networks">
      <a href="#header" class="icon-large icon-link">
        <img src="/assets/logos/logo_bat_flèche.png" alt="Go to the top" />
      </a>
      <a href="#" class="icon-small icon-link">
        <img src="/assets/logos/icon_facebook.png" alt="Facebook" />
      </a>
      <a href="#" class="icon-small icon-link">
        <img src="/assets/logos/icon_ig.png" alt="Instagram" />
      </a>
      <a href="#" class="icon-small icon-link">
        <img src="/assets/logos/icon_tw.png" alt="Twitter" />
      </a>
      <a href="#section-form" class="icon-large icon-link">
        <img src="/assets/logos/logo_bat_flèche_2.png" alt="Fill up the form" />
      </a>
    </div>
  </div>
</aside>
